.search_bar {
    margin:auto;
    width: 50%;
    border-style: solid;
    border-color:purple;

}
form{
    margin: auto;
    width: 50%;
}
.center {
    float:left;
    width: 45%;
    padding: 4px;
    border-style: solid;
    border-color: rgb(17, 223, 27);
}
.search_result_div {
    float: left;
    width: 25%;
    border-style: solid;
    border-color: yellow;
}
.playlist_div {
    float: right;
    width: 25%;
    border-style: solid;
    border-color: red;
}
.preview_song{
    border-style: solid;
    border-color: pink;
}

.return_search{
    display:grid
}

.right_playlist{
    display:grid;
}
.artwork{
    grid-column-start: 1;
}
.contain_name_and_artist{
    grid-column-start: 2;
    grid-column-end: 4;
    overflow: hidden;
}
.album_name{
    grid-column-start: 4;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.duration{
    grid-column-start: 5;
}
.track_name{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.track_artist{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mini-album-cover {
    height: 50px;
    width: 50px;
}