body{
    background-color: dimgray;
    font-family: -webkit-pictograph;
}
.search_bar {
    margin:auto;
    width: 75%;

}
#search_input{
    background-color: #ffffff59;
    border-radius: 5px;
    border-style: double;
}
.search_btn{
    background-color: darkgray;
    border-radius: 6px;
    border-style: double;
}
form{
    margin: auto;
}
.center {
    float:left;
    width: 45%;
    padding: 4px;
    border-style: solid;
    border-color: rgb(17, 223, 27);
    margin: auto;
}
.search_result_div {
    float: left;
    width: 25%;
    border-style: solid;
    border-color: yellow;
    overflow: hidden;
}
.playlist_div {
    float: left;
    width: 25%;
    border-style: solid;
    border-color: red;
    background-color: darkgray;
}
.preview_song{
    border-style: solid;
    border-color: pink;
}

.return_search{
    display:grid;
    grid-template-columns: 13% 39% 35% 13%;
    background-color: darkgray;
    width: 100%;
}

.right_playlist{
    display:grid;
    grid-template-columns: 13% 39% 35% 13%;
}
.artwork{
    grid-column-start: 1;
}
.contain_name_and_artist{
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: hidden;
}
.album_name{
    font-size: 14px;
    grid-column-start: 3;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: auto;
    text-align: center;
}
.duration{
    grid-column-start: 4;
    margin: auto;
    padding-right: 3px;
}
.track_name{
    text-align: left;
    font-size: 16px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 3px;
    padding-left: 4px;

}
.track_artist{
    text-align: left;
    font-size: 12px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 3px;
    padding-left: 4px;
}
.mini-album-cover {
    height: 50px;
    width: 50px;
}
.center_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 40%;
    height: auto;
}
.center_add{
    float: left;
    margin-left: 10px;
    background-color: rgb(57, 175, 106);
    border-style: none;
    border-radius: 5px;
    padding: 2px;
    height: 40px;
    font-family: -webkit-pictograph;

}
.center_del{
    float: right;
    margin-right: 10px;
    background-color: rgb(236, 86, 86);
    border-style: none;
    border-radius: 5px;
    padding: 2px;
    height: 40px;
    font-family: -webkit-pictograph;

}
.center_track{
    text-align: center;
    line-height: 0px;
}
.center_artist{
    text-align: center;
    line-height: 0px;
}
.center_album{
    text-align: center;
    line-height: 0px;
}
.center_duration{
    text-align: center;
    line-height: 0px;
}
#playlist_title{
    text-align: center;
    line-height: 2px;
}